<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recipe Book</a>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routetLinkActive="active" >
            <a class="nav-link" routerLink='recipes'>Recipes</a>
          </li>
        <li class="nav-item" routetLinkActive="active" >
          <a class="nav-link" routerLink='shopping-list'
          >Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
                <a style="cursor: pointer;" class="dropdown-toggle nav-link" role="button" id="dropdownMenuLink">Manage<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a style="cursor: pointer;">Save Data</a></li>
                  <li><a style="cursor: pointer;">Fetch Data</a></li>
              </ul>
          </li>
      </ul>
    </div>
  </nav>